* {
  padding: 0;
  margin: 0;
  line-height: 1.2em;
}

body {
  font-family: sans-serif;
}

header, footer {
  background: #ea5169;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  width: 80%;
  margin: 0 auto;
}
